body {
	color: #333333;
	font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
	background-color: #ffffff;
	font-size:13px;	
}

html body { /* update HACK: Temporary fix for CONF-15412 */ 
    overflow-x: visible; 
    overflow-y: scroll; 
} 

h1, h2, h3 { margin: 0; padding: 0; }

h2, h3{
    font-weight: normal;
    font-size: 21px;
    color: #569D2F;
    margin-top: 5px;
    padding: 5px 0;
}

h2 { 
	font-family: Georgia, serif;
}

h3 {
	font-size: 16px;
	margin-top:20px;
	padding:0px;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration:none;
}

.wrapper { width: 1000px; margin: 0 auto; padding:0px 0px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.clearer { clear: both; }

a {
    color: #569D2F;
    font-weight: normal;
    text-decoration: underline;
}
a img { text-decoration: none;}

.nav, .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;
    background: #1B181C url('../images/top-bg.png') repeat-x top right;
    border-bottom: 1px solid #999999;
}
.nav li {
    display: inline;
    padding: 0px 5px;
    margin: 0px;
    white-space: nowrap;
    border-right: 1px solid #ccc;
    line-height:30px;
}
.nav ul > li:last-child { border-right: 0px;  }
.nav a { color: #ffffff; text-decoration: none;}

.bs, #references img {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

/* .radied {
    border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.relief {
	border-top: 1px solid rgba(255,255,255,0.3);
	border-left: 1px solid rgba(255,255,255,0.3);
	border-right: 1px solid rgba(100,100,100,0.3);
	border-bottom: 1px solid rgba(100,100,100,0.3);
} */

.light, .light a { color: #999; }
.small { font-size: 0.5em; }

#top { background: #ffffff url('../images/bg.png') repeat-x top right; }
#top h1 {
    margin: 0px 15px;
    float: left;
    width: 650px;
}

#aside { float:right; width: 280px; padding:70px 30px 0px 0px; font-family: Georgia, serif; font-size:18px; font-style:italic; line-height:1.3em;}

#banner {
    background: url('http://people.apache.org/~uli/images/bg.png');
    height: 148px;
    width: 680px;
    float: right;
    margin: 30px 0px 0px 0px;
    position: relative;
    padding: 20px 10px 20px 120px;
}
#banner h1 {
    width: 450px;
    margin: 0;
}
#banner #logo {
    position: absolute;
    top: -23px;
    left: -100px;
}
#banner #tapestry {
    display: block;
    margin-bottom: 10px;
}

#small-banner {
    background-color: rgb(227,251,217);
    padding: 5px 20px;
    margin: 10px 0px
}

#features ul { list-style:none; padding:10px; padding-top:0px; margin: 0px;}
#features li { float:left; width:315px; margin:0px 5px;  }
#features li h3 { margin-left:15px; font-size:21px; color: #569D2F; margin-top: 0px; }
.feature { background-color: #eeeeee; padding:15px; line-height:1.3em;}
.feature p, #bar p { padding: 0; margin: 0; }

#bar {
    margin: 15px 0px;
    padding: 10px;
    background-color: #569D2F;
    color: #ffffff;
    text-align:center;
}
#bar a, #bar p { color: #ffffff; }

#col {
    clear: both;
    float: right;
    width: 300px;
    margin: 0 30px;
}

#col h2 { 
	font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
}


#content { margin: 0px 30px;}

#content p { text-align: justify; }

#content ul { list-style:square; padding-left:40px; margin: 0px; }
#content ul ul { list-style:circle; padding-left:50px; margin: 0px; }

#content h1, h2, h3{
    margin-top: 5px;
    padding: 5px 0;
}

.big-col {
    /* width: 620px; */
    /* float: left; */
    margin-right: 360px !important;
}

#references { margin: 10px 0px; width: 620px; }
#references li {
    font-size: 10px;
    display: block;
    float: right;
    width: 250px;
    margin: 0px 10px 10px 10px;
    text-align: left;
}
#references img {
    display: block;
    margin-bottom: 5px;
    padding: 1px;
    border: 1px solid #cccccc;
}

/* the "created by ... on ..." section of the blog posts */
.endsection {
  visibility: hidden;
  display: none;
}

#breadcrumbs { clear:both; color: black; background-color:#eeeeee; padding: 10px 30px; } 
#breadcrumbs a { color: #569D2F; text-decoration:none; }

#footer { 
  position: relative;
  margin-top: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer p {
  font-size: x-small;
  margin: 0;
}

/* Confluence's styles customization */
a.blogHeading {
    font-weight: normal;
    font-size: 16px;
    color: #569D2F;
}

a.blogDate {
    font-weight: normal;
}

/* style the tutorial navigation */
.tutorial-nav {
    width: 300px;
    float: left;
}

#content .navmenu TABLE { width: auto !important }

#top p { margin: 0; }
